
@{
    ViewBag.Title = "Report";
}

<h2>Mountain Bike Order Report</h2>

<canvas id="Reports" width="600" height="400"></canvas>
<script src="~/Scripts/chart.js"></script>
<script>
    const Reports = document.getElementById("Reports");

    let ReportsData = {
        label: 'Number of Mountain Bikes sold',
        data: [163, 152, 200, 211, 139, 127, 122, 148, 160, 125, 118, 90],
        backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(255, 99, 132, 0.2)', 'rgba(255, 159, 64, 0.2)', 'rgba(255, 159, 64, 0.2)', 'rgba(255, 205, 86, 0.2)', 'rgba(255, 205, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(153, 102, 255, 0.2)'],
        borderColor: ['rgb(255, 99, 132)', 'rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)', 'rgb(75, 192, 192)', 'rgb(54, 162, 235)', 'rgb(54, 162, 235)', 'rgb(153, 102, 255)', 'rgb(153, 102, 255)'],
        borderWidth: 1
    };

    let barChart = new Chart(Reports, {
        type: 'bar',
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            datasets: [ReportsData]
        }

    });
</script>